@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
      @apply cursor-pointer text-primary-400 hover:text-primary-700 font-semibold;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
